@font-face {
  font-family: "we"; /* Project id 2460191 */
  src: url('iconfont.woff2?t=1646992541125') format('woff2'),
       url('iconfont.woff?t=1646992541125') format('woff'),
       url('iconfont.ttf?t=1646992541125') format('truetype');
}

.we {
  font-family: "we" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.we-renyuanxinxi:before {
  content: "\e671";
}

.we-xiangmu:before {
  content: "\e6ae";
}

.we-pingjia:before {
  content: "\e67c";
}

.we-jiaoyu:before {
  content: "\e617";
}

.we-gongzuojinli:before {
  content: "\e624";
}

.we-jineng:before {
  content: "\e61e";
}

.we-xinbie:before {
  content: "\e6d6";
}

.we-xianju:before {
  content: "\e614";
}

.we-jiguan:before {
  content: "\e604";
}

.we-yixiang:before {
  content: "\e681";
}

.we-youxiang:before {
  content: "\e672";
}

.we-nianling:before {
  content: "\e613";
}

.we-xinming:before {
  content: "\e61d";
}

.we-minzu:before {
  content: "\e6f7";
}

.we-dianhua:before {
  content: "\e6a9";
}

